/* Style for the body */
body {
    background-image: url('media/images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Comic Sans MS', cursive;
}

/* Style for the navbar */
.navbar {
    background-color: #FFD90F;
}

/* Style for the logo in the navbar */
.navbar .logo {
    max-width: 150px; /* Adjust the width as needed */
}

/* Style for the container with the background image */
.blip {

}

/* Style for the h1 heading */
h1 {
    text-align: center;
    text-decoration: underline;
    /* Add any additional styles you want for the h1 */
}

/* Style for the center-aligned text */
.center-text {
    text-align: center;
    /* Add any additional styles you want for centered text */
}

/* Style for the card titles */
.card-title {
    color: black;
    /* Add any additional styles you want for card titles */
}

/* Style for the card text */
.card-text {
    color: black;
    /* Add any additional styles you want for card text */
}

/* Style for the footer */
.footer {
    background-color: #2E383F;
    color: #ECECEB;
    /* Add any additional styles you want for the footer */
}
