body {
    background-image: url("../media/images/BGStars.png");
    color: #FFDE00;
    font-family: 'Comic Sans MS', cursive;
}

.navbar {
    height: 100px;
    background-color: #FFD90F !important;
}

.main {
    margin-top: 20px;
}

.card {
    background-image: url("../media/images/BGStars.png");
    color: #FFDE00;
}

.footer {
    background-color: #2E383F;
    color: #ECECEB;
}
