
body{
    background-image: url("../media/images/BGStars.png");
    color: #FFDE00;
    font-family: 'Comic Sans MS', cursive;
}
.navbar{
    height: 100px;
    background-color: #FFD90F !important;
}
.logo{
    height: 100px;
}

.main{
    margin-top: 20px;
}
.duel{
    width: 750px;
}

.card{
    background-image: url(../media/images/BGStars.png);
    color: #FFDE00;
}

